<section class="max-w-5xl mx-auto py-5 flex flex-col gap-5">
    <app-heading-text Construction="নির্বাচিত প্রবন্ধসমূহ" link="/" color="green"></app-heading-text>
    <!-- <h1 class="text-center text-2xl md:text-3xl lg:text-5xl text-green-600 font-bold">নির্বাচিত প্রবন্ধসমূহ</h1> -->
    <card2 title="তারাবীহ নামায বিশ রাকাতঃ একটি দলীলভিত্তিক পর্যালোচনা" writer="লুৎফুর রহমান ফরায়েজী" link="selected-writings/1" publisher="আহলে হক্ব বাংলা মিডিয়া সার্ভিস" />

    <card2 title="টাকা দিয়ে সদকায়ে ফিতির আদায় করলে আদায় হবে না?" writer="লুৎফুর রহমান ফরায়েজী" link="selected-writings/2" publisher="আহলে হক্ব বাংলা মিডিয়া সার্ভিস" />

    <card2 title="১২ তাসবিহ আদায় করার নিয়ম।" writer="" link="selected-writings/4" publisher="" />
</section>

<app-footer link="/"></app-footer>