<section class="max-w-5xl mx-auto p-3 md:p-5 lg:p-8">
    <h1 class="text-center text-2xl lg:text-4xl text-primary mt-2">১২ তাসবিহ আদায় করার নিয়ম।</h1>

    <card1
      bangla="প্রথমে কিবলামুখী হয়ে বসবেন। তারপর আপন চোখ বন্ধ করে নিজের মনকে বুঝাবেন যে, হে মন! হে (নিজের নাম)! তোমার মত কত মানুষ মারা গেছে। দুনিয়া থেকে চির বিদায় নিয়ে অন্ধকার কবরে চলে গিয়েছে। এ পর্যন্ত আর ফিরে আসে নাই। একটি চিঠি অথবা ফোন দিয়ে ভালো-মন্দ কোন খবরও দিতে পারে নাই। আমরাও একদিন এই অবস্থা হবে। হে মন! অন্ধকার কবরে একা একা কীভাবে থাকবো? আখেরাতের মালিক, কবরের মালিক মাওলার সাথে মুহাব্বত না করিয়া কবরে গেলে মাওলা পাক কোন খবর নিবেন না। এইভাবে চিন্তা করে দিলটা একটু নরম করে আখেরাতের প্রতি দিলকে ঝুকিয়ে"
    />

    <p class="text-md md:text-lg py-1 text-gray-700 text-justify"><span class="text-primary">দুরুদ শরীফ ৩ বার, ইস্তেগফার ৩ বার</span> পাঠ করবেন। </p>

    <p class="text-md md:text-lg py-1 text-gray-700 text-justify">অতঃপর <span class="text-primary">লা ইলাহা ইল্লাল্লাহু ২০০ বার।</span> আল্লাহ ছাড়া আর কোন মাবুদ নাই জিকিরের সময় এই অর্থের প্রতি খেয়াল রাখা। লা ইলাহা বলার সময় মাথাকে ডান কাঁধের দিকে ঘুরাবেন। আর ইল্লাল্লাহ বলার সময় বাম পেস্তানের দুই আঙুল নিচে কলবের উপর (জবর) ধাক্কা দিবেন।  </p>

    <p class="text-md md:text-lg py-1 text-gray-700 text-justify">এরপর শুধু কলবেই জবর দিয়ে <span class="text-primary">ইল্লাল্লাহ ৪০০ বার </span> আদায় করবেন। অর্থের দিকে খেয়াল করবেন যে আল্লাহই একমাত্র মাবুদ। আর আল্লাহর মুহাব্বত ছাড়া আমার অন্তরে আর কারো মুহাব্বত নেই। </p>

    <p class="text-md md:text-lg py-1 text-gray-700 text-justify">এরপর <span class="text-primary">আল্লাহু-আল্লাহ্ ৬০০ বার। </span> আর খেয়াল করবেন যে আমার মাওলা পাক আমার ডাকের উত্তর দিচ্ছেন। এরপর <span class="text-primary">আল্লাহ্-আল্লাহ্ ১০০ বার। </span> ২য় লামে দরদ ও মায়ার সাথে টেনে টেনে পড়া। পারতঃ পক্ষে কান্নার ভানে আদায় করা।</p>

    <p class="text-md md:text-lg py-1 text-gray-700 text-justify"> <span class="text-primary"></span> </p>
    <p class="text-md md:text-lg py-1 text-gray-700 text-justify"> <span class="text-primary"></span> </p>
    <p class="text-md md:text-lg py-1 text-gray-700 text-justify"> <span class="text-primary"></span> </p>
    <p class="text-md md:text-lg py-1 text-gray-700 text-justify"> <span class="text-primary"></span> </p>

    <card1
      head=""
      bangla="১. সুবহানাল্লাহ একশত বার। (সকালে ও রাতে)"
      bangla1="২. আলহামদুলিল্লাহ একশত বার। (সকালে ও রাতে)"
      bangla2="৩. আল্লা-হু আকবার একশত বার। (সকালে ও রাতে)"
      bangla3="৪. লা-ইলাহা ইল্লাল্লাহু একশত বার। (সকালে ও রাতে)"
      bangla4="৫. আসতাগ ফিরুল্লাহ একশত বার। (সকালে ও রাতে)"
      bangla5="৬. দুরুদ শরীফ একশত বার। (সকালে ও রাতে)"
      bangla6="৭. লা-হাউলা ওয়ালা-কুওয়াতা ইল্লা-বিল্লাহ একশত বার। (সকালে ও রাতে)"
      bangla7="৮. ৪০ বার দুরুদ-সালাম।"
      bangla8="৯. কুরআন মাজীদ তেলাওয়াত।"
      bangla9="১০. দ্বিনি কিতাব পড়া।"
      bangla10="১১. লম্বা দুয়া করা।"
    />

    <card1
      head=""
      bangla="১২. প্রত্যেক নামাজের পর এবং ঘুমের আগে সুবহানাল্লাহ ৩৩ বার, আলহামদুলিল্লাহ ৩৩ বার, আল্লাহু আকবার ৩৪ বার পাঠ করা।"
      bangla1="১৩. এশরাক, চাশত, আউয়াবিন, তাহাজ্জুদ, সালাতুল হাজত, নফল নামাজ পড়া।"
      bangla2=""
      bangla3=""
      bangla4=""
      bangla5=""
      bangla6=""
      bangla7=""
      bangla8=""
      bangla9=""
      bangla10=""
    />
</section>


<app-footer link="/selected-writings"></app-footer>
