<section class="max-w-5xl mx-auto p-3 md:p-5 lg:p-8">
  <app-heading-text Construction="শাজারায়ে চিশতিয়া ছাবেরিয়া এমদাদিয়া আশরাফিয়া" link="/amol" color="green"></app-heading-text>
  

  <card1
    head=""
    bangla="১) এলাহী! আমার পীর তোমার পেয়ারা বান্দা হযরত মাওলানা মুফতী যুবাইর বিন এরশাদ (দা:বা:)"
    bangla1="২) এলাহী! তোমার পেয়ারা বান্দা ফকিহুদ্দিন হযরত মাওলানা হাফেজ মুফতী আহমাদুল্লাহ সাহেব (দা.বা.)"
    bangla2="৩) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা জুবায়ের আহমাদ চাটগামী (রহ:)"
  />

  <card1
    head=""
    bangla="৪) এলাহী! তোমার পেয়ারা বান্দা কুতুবে আকতাব হযরত মাওলানা জাকারিয়া কান্ধলবী (রহঃ)"
    bangla1="৫) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা খলীল আহমাদ সাহারানপুরী (রহঃ)"
    bangla2="৬) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা রশীদ আহমাদ গাঙ্গুহী (রহঃ)"
  />

  <card1
    head=""
    bangla="৭) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা হাজী এমদাদুল্লাহ মুহাজেরে মক্কী (রহঃ)"
    bangla1="৮) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা মিয়াজী নূর মুহাম্মাদ ঝানঝানভী (রহ:)"
    bangla2="৯) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা হাজী আব্দুর রহিম শহীদ (রহঃ)"
  />

  <card1
    head=""
    bangla="১০) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা শাহ আব্দুল বারী আমরূহী (রহঃ)"
    bangla1="১১) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা শাহ আব্দুল হাদী আমরূহী (রহ:)"
    bangla2="১২) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা আযদুদ্দীন আমরুহী (রহঃ)"
  />

  <card1
    head=""
    bangla="১৩) এলাহী! তোমার পেয়ারা বান্দা হযরত মাওলানা মুহাম্মাদ মক্কী (রহ:)"
    bangla1="১৪) এলাহী! তোমার পেয়ারা বান্দা হযরত শাহ মুহাম্মাদ (রহঃ) "
    bangla2="১৫) এলাহী! তোমার পেয়ারা বান্দা হযরত মুহিববুল্লাহ এলাহাবাদী (রহঃ) "
  />

  <card1
    head=""
    bangla="১৬) এলাহী! তোমার পেয়ারা বান্দা হযরত আবু সাঈদ গাঙ্গুহী (রহ:)"
    bangla1="১৭) এলাহী! তোমার পেয়ারা বান্দা হযরত নিযামুদ্দীন বলখী (রহঃ)"
    bangla2="১৮) এলাহী! তোমার পেয়ারা বান্দা হযরত জালালুদ্দীন থানেশ্বরী (রহ:)"
  />

  <card1
    head=""
    bangla="১৯) এলাহী! তোমার পেয়ারা বান্দা হযরত আব্দুল কুদ্দুস গাঙ্গুহী (রহ:) "
    bangla1="২০) এলাহী! তোমার পেয়ারা বান্দা হযরত শায়েখ মুহাম্মাদ রদ্ওলোভী (রহ:)"
    bangla2="২১) এলাহী! তোমার পেয়ারা বান্দা হযরত মখদুম আহমাদ আরেফ রদ্ওলোভী (রহঃ)"
  />

  <card1
    head=""
    bangla="২২) এলাহী! তোমার পেয়ারা বান্দা হযরত আহমাদ আব্দুল হক রদ্ওলোভী (রহ:)"
    bangla1="২৩) এলাহী! তোমার পেয়ারা বান্দা হযরত জালালুদ্দীন পানিপত্তি (রহ:)"
    bangla2="২৪) এলাহী! তোমার পেয়ারা বান্দা হযরত শামসুদ্দীন তুর্ক পানিপত্তি (রহ:)"
  />

  <card1
    head=""
    bangla="২৫) এলাহী! তোমার পেয়ারা বান্দা হযরত আলাউদ্দীন আলী আহমাদ সাবেরী (রহ:)"
    bangla1="২৬) এলাহী! তোমার পেয়ারা বান্দা হযরত শাহ শায়েখ ফরিদুদ্দীন গঞ্জশকর (রহ:)"
    bangla2="২৭) এলাহী! তোমার পেয়ারা বান্দা হযরত খাজা কুতুবুদ্দীন বখতিয়ার কাকী (রহ:)"
  />

  <card1
    head=""
    bangla="২৮) এলাহী! তোমার পেয়ারা বান্দা হযরত মঈনুদ্দীন চিশতী (রহ:)"
    bangla1="২৯) এলাহী! তোমার পেয়ারা বান্দা হযরত উসমান হারুনী (রহ:)"
    bangla2="৩০) এলাহী! তোমার পেয়ারা বান্দা হযরত শরীফ জন্দনী (রহ:)"
  />

  <card1
    head=""
    bangla="৩১) এলাহী! তোমার পেয়ারা বান্দা হযরত কুতুবুদ্দীন মওদুদ চিশতী (রহ:)"
    bangla1="৩২) এলাহী! তোমার পেয়ারা বান্দা হযরত নাছির উদ্দিন আবু ইউসুফ চিশতী (রহ:)"
    bangla2="৩৩) এলাহী! তোমার পেয়ারা বান্দা হযরত শাহ আবু মুহাম্মাদ মুহতারাম চিশতী (রহ:)"
  />

  <card1
    head=""
    bangla="৩৪) এলাহী! তোমার পেয়ারা বান্দা হযরত আবু আহমাদ আবদাল চিশতী (রহ:)"
    bangla1="৩৫) এলাহী! তোমার পেয়ারা বান্দা হযরত আবু ইসহাক শামী (রহ:)"
    bangla2="৩৬) এলাহী! তোমার পেয়ারা বান্দা হযরত হাজী মমশাদ আলোভী দিনুরি (রহ:)"
  />

  <card1
    head=""
    bangla="৩৭) এলাহী! তোমার পেয়ারা বান্দা হযরত আবু হুবাইরা বছরী (রহ:)"
    bangla1="৩৮) এলাহী! তোমার পেয়ারা বান্দা হযরত শাহ হুজাইফা মারআশী (রহ:)"
    bangla2="৩৯) এলাহী! তোমার পেয়ারা বান্দা হযরত শাহ ইব্রাহিম বিন আদহাম (রহ:)"
  />

  <card1
    head=""
    bangla="৪০) এলাহী! তোমার পেয়ারা বান্দা হযরত ফুযায়েল বিন আইয়ায (রহ:)"
    bangla1="৪১) এলাহী! তোমার পেয়ারা বান্দা হযরত খাজা আব্দুল ওয়াহেদ বিন যায়েদ (রহ:) "
    bangla2="৪২) এলাহী! তোমার পেয়ারা বান্দা হযরত খাজা হাসান বসরী (রহ:) "
  />

  <card1
    head=""
    bangla="৪৩) এলাহী! তোমার পেয়ারা ওলী হযরত আলী বিন আবু তালিব (রাযিঃ)"
    bangla1="৪৪) এলাহী! তোমার পেয়ারা হাবীব সাইয়্যেদুল মুরসালীন আহমাদ মুজতবা হযরত মুহাম্মাদ মুস্তফা সাল্লাল্লাহু আলাইহি ওয়াসাল্লাম "
    bangla2=""
  />

  <card1
    head=" "
    bangla="এলাহি! আমার হৃদয়ে এশকের আগুন জ্বালিয়ে দাও। এলাহি! আমাকে তোমার পাগল বানিয়ে রাখ। এলাহি! এশকের আগুন দিয়ে আমার মনের সব আবর্জনাকে জ্বালিয়ে ভস্ম করে দাও। এলাহি! দুনিয়ার মহব্বত আমার দিল থেকে দূর করে তোমার মহব্বতে আমার দিল ভরে দাও। এলাহি! তোমার মা'রেফতের নূর দ্বারা আমার ছিনাকে গুলজার করে দাও। এলাহি! এই সমস্ত আউলিয়াগণের উছিলায় তোমার কাছে ভিক্ষা চাচ্ছি, চিরকাল আমাকে তোমার ভক্ত দাস বানিয়ে রাখ । "
    bangla1="ইয়া রাব্বানা! ইয়া রাব্বানা!! ইয়া রাব্বানা!!!"
    bangla2="তোমার পেয়ারা হাবিব এবং এই আউলিয়া ও আছফিয়াদের তোফায়েলে এবং তোমার এই সমস্ত জান-ফেদা আশেক ও আরেফগণের উসিলায় তুমি নিজ রহমতে আমার সব গুনাহ মাফ করে দাও এবং আমার কলবে তোমার এশক ও মারেফত ভরে দিয়ে ইহ-পরকালে আমাকে তরিয়ে নাও- আমীন।"
  />

  <card1
    head=""
    bangla=""
    bangla1=""
    bangla2=""
  />

  <div class="flex justify-center items-center my-5 gap-5">
    <button (click)="download()" class="btn btn-sm btn-primary text-white">DownLoad</button>
  </div>
</section>

<app-footer link="/amol"></app-footer>