<section class="w-full md:container mx-auto hidden">
    <div class="flex flex-col gap-5 px-2">
        <div class="w-full bg-green-400 text-white rounded-md px-10 py-5">
            <h1 class="text-2xl text-center text-rose-600 font-bold">মাওলানা মুহাম্মাদ যাকারিয়া আব্দুল্লাহ</h1>
            <p class="text-xl text-justify">কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।</p>
        </div>
        <div class="w-full bg-green-400 text-white rounded-md px-10 py-5">
            <h1 class="text-2xl text-center text-rose-600 font-bold">মাওলানা মুহাম্মাদ যাকারিয়া আব্দুল্লাহ</h1>
            <p class="text-xl text-justify">কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।</p>
        </div>
        <div class="w-full bg-green-400 text-white rounded-md px-10 py-5">
            <h1 class="text-2xl text-center text-rose-600 font-bold">মাওলানা মুহাম্মাদ যাকারিয়া আব্দুল্লাহ</h1>
            <p class="text-xl text-justify">কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।</p>
        </div>
        <div class="w-full bg-green-400 text-white rounded-md px-10 py-5">
            <h1 class="text-2xl text-center text-rose-600 font-bold">মাওলানা মুহাম্মাদ যাকারিয়া আব্দুল্লাহ</h1>
            <p class="text-xl text-justify">কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।কুরআন মজীদে যাকাতের খাত নির্ধারিত করে দেওয়া হয়েছে। এখাত ছাড়া অন্য কোথাও যাকাত প্রদান করা জায়েয নয়।</p>
        </div>
    </div>
</section>



<app-footer link="/"></app-footer>
