<section class="max-w-5xl mx-auto p-3 md:p-5 lg:p-8">
  <app-heading-text Construction="শায়েখের জীবনী" link="/about" color="green"></app-heading-text>
  <card1
    head="জন্ম ও পরিচয়"
    bangla="মাওলানা মুফতী যুবাইর বিন এরশাদ হাফিজাহুল্লাহ। ১৯৮৬ সালে শরীয়তপুর জেলার জাজিরা থানার গঙ্গা প্রসাদ নামক গ্রামে এক সম্ভ্রান্ত মুসলিম পরিবারে জন্মগ্রহণ করেন। পিতা হাজী এরশাদ আহমদ সাহেব, দাদা মোচন ডালি, নানা মুন্সী আব্দুল হাকিম মোল্লা গ্রামের সকলে তাকে মিয়া সাহেব বলে ডাকতেন, দীর্ঘদিন যাবত বিনা বেতনে মসজিদের মুয়াজ্জিন ও সানি ইমাম হিসাবে সময় দেন।"
    bangla1=""
    bangla2=""
  />

  <card1
    head="লেখাপড়া"
    bangla="পড়ালেখার শুরুর জীবন থেকেই সকল জামাতে প্রথম বিভাগে উত্তীর্ণ হন এবং ২০০৯ সালে দাওরা ফারেগ হন। পরবর্তীতে এদেশের সুনামধন্য শিক্ষা প্রতিষ্ঠান জামিয়া ইসলামিয়া পটিয়া মাদ্রাসায় ইফতার বিভাগে ২০১০ সালে ভর্তি হন এবং মুফতি খেতাব অর্জন করেন।"
    bangla1="হযরতের বিশেষ উস্তাদগণের মধ্যে রয়েছেন, শাইখুল হাদিস আল্লামা আজিজুল হক রাহিমাহুল্লাহ, মুফতি মনসুরুল হক হাফিজাহুল্লাহ, সাইখুল হাদিস হিফজুর রহমান মুমিনপুরী হুজুর, প্রখ্যাত আলেমে দীন মুফতি আবু সাঈদ দামাত বারাকাতুহু, মাওলানা শামসুদ্দিন জিয়া সাহেব, মুফতি মোজাফফর সাহেব।"
    bangla2=""
  />

  <card1
    head="কর্ম জীবন"
    bangla="জামিয়া ইউনিসিয়া বি-বাড়িয়া মাদ্রাসা থেকে হুজুরের খেদমতের মাধ্যমে কর্মজীবন শুরু করেন। সেখানে কিছুদিন খেদমত করার পর, ২০১৪ সনে ঢাকার মিরপুর থানাধীন পীরের বাগ নামক এলাকায়, খিদমাতুল কুরআন নামে একটি মাদ্রাসা প্রতিষ্ঠা করেন। তখন থেকে অদ্যাবধি অত্যন্ত সুনামের সাথে অত্র মাদ্রাসাটি পরিচালনা করছেন। পাশাপাশি শেওড়াপাড়া এলাকায় অবস্থিত নূরজাহান জামে মসজিদে সাপ্তাহিক তাফসির এবং নতুন বাজার টেকনিক্যাল বাইতুন নূর মসজিদে সুনামের সাথে খতিবের দায়িত্ব পালন করছেন।"
    bangla1="২০১৪ সালে সাধারণ মানুষের আত্মশুদ্ধি, ফরজে আইন শিক্ষা (যা ২০১৫ সালে চালু করেন) ও ঈমান আমল হেফাজতের লক্ষ্যে, প্রতিষ্ঠা করেন খানকায় আহমাদিয়া খলিলিয়া। যা ঢাকার মিরপুর থানায় অবস্থিত। বিভিন্ন সময় ওয়াজনসিহত ও ইসলাহী জোড়ের মাধ্যমে আল্লাহ ভোলা মানুষকে সঠিক পথ প্রদর্শন ও আত্মশুদ্ধির কর্মসূচি চালিয়ে যাচ্ছেন।"
    bangla2=""
  />

  <card1
    head="আধ্যাত্মিক সম্পর্ক"
    bangla="জামিয়া ইসলামিয়া পটিয়া মাদ্রাসায় যাওয়ার পর,কুতুবুল আলম মুফতি জুবায়ের আহমাদ চাটগামী (পাহাড়ি হুজরু) রহিমাহুল্লাহ এর কাছে বাইয়াত হন। ধীরে ধীরে হযরতের খাস খাদেম হিসাবে হযরতের দরবারে অবস্থান করতে থাকেন। বিভিন্ন সফরে হযরতের সফর সঙ্গী হতেন। এসব কিছুর পাশাপাশি তিনি সুলুক ও তাসাউফের মেহনত চালিয়ে যান। অবশেষে ২০১৪ সালে চার তরিকায় বাইয়াতের ইজাজাত দেন।"
    bangla1="হযরতের ইন্তেকালের পরপরই পটিয়া মাদ্রাসার প্রধান মুফতি শায়েখ হাফেজ আহমাদুল্লাহ হাফিজাহুল্লাহ এর কাছে রুজু হন এবং হযরতও ২০১৭ সালে খেলাফত প্রদান করেন।"
    bangla2="এর পাশাপাশি মাওলানা এমদাদুল্লাহ নানুপুরী হুজুর ২০২২ সালে শায়েখকে চার তরিকায় বাইয়াতের ইজাজাত দেন।"
  />

  <card1
    head="বৈবাহিক জীবন"
    bangla="ঢাকার সেগুনবাগিচায় বাংলাদেশের তাবলীগের মারকাজ কাকরাইলের শ্রদ্ধেয় মরুব্বি, ইঞ্জিনিয়ার শফিউদ্দিন মোল্লা সাহেবের চতুর্থ কন্যাকে বিবাহ করেন। বর্তমানে তার দুই ছেলে ইরহাম ও ইতকান এবং এক মেয়ে সুমাইতা।"
    bangla1=""
    bangla2=""
  />

  <card1
    head="রচনাবলী"
    bangla="শায়খের রচনাবলীর মধ্যে রয়েছে , হেফাজতের দুটি আমল, হযরতজি এনামুল হাসান সাহেব হুজুরের মালফুজাত, ৪০ দরুদ, ঐতিহাসিক ইয়ারমুকের যুদ্ধ, আদাবুল মুরিদ, আধা মিনিটের আমল, সাত ছবক, তাহলে কিনদের পথ ও পাথেয় ইত্যাদি ।
    "
    bangla1=""
    bangla2=""
  />

  <card1
    head="বিদেশ ভ্রমণ"
    bangla="দ্বীনি কাজের জন্য শায়খ পৃথিবীর বিভিন্ন দেশে ভ্রমণ করেন, তার মধ্য থেকে মক্কা, মদিনা, পূর্ব আফ্রিকা, (মরিশাস) নেপাল, ভুটান, ইন্ডিয়া উল্লেখযোগ্য। তার পাশাপাশি প্রায় বাংলাদেশের সকল জেলায় দ্বীনী প্রয়োজনে ভ্রমণ করেছেন।"
    bangla1=""
    bangla2=""
  />
</section>

<app-footer link="/about"></app-footer>
