<app-header />
<div class="grid grid-cols-2 gap-4 px-6 py-3">
    <app-custom-button title="আমল" link="/amol"></app-custom-button>
    <app-custom-button title="হিজরী তারিখ" link="/hijri-date"></app-custom-button>
    <app-custom-button title="উত্তরাধিকার সম্পত্তি বন্টন" link="/forayez"></app-custom-button>
    <app-custom-button title="নির্বাচিত প্রবন্ধ" link="/selected-writings"></app-custom-button>
    <app-custom-button title="যাকাত" link="/zakat-menu"></app-custom-button>
    <app-custom-button title="বয়ান" link="/boyan-menu"></app-custom-button>
    <!-- <app-custom-button title="নামাজের সময়" web="https://khidmatul.com/#/salat"></app-custom-button> -->
    <!-- <app-custom-button title="নামাজের সময়" link="/salat"></app-custom-button> -->
    <app-custom-button title="নোটিশ" link="/notice"></app-custom-button>
    <app-custom-button title="পরিচিতি" link="/about"></app-custom-button>
  </div>
