<div class="grid grid-cols-1 gap-3 px-6 py-3">
    <app-heading-text Construction="আমল" link="/" color="green" ></app-heading-text>
    <app-custom-button title="চল্লিশ দরুদ ও সালাম" link="/forty-dorud" [isSmall]="true"></app-custom-button>
    <app-custom-button title="দোয়ায়ে আবু দারদা (রাঃ)" link="/doyaye-abu-darda-ra" [isSmall]="true"></app-custom-button>
    <app-custom-button title="দোয়ায়ে আনাস ইবনে মালেক (রাঃ)" link="/doyaye-anas-ibne-malek-ra" [isSmall]="true"></app-custom-button>
    <app-custom-button title="মনজিল" link="/monjil" [isSmall]="true"></app-custom-button>
    <app-custom-button title="কোরআনে বর্নিত ৪০ রব্বানা দোয়া" link="/forty-rabbana-dowa" [isSmall]="true"></app-custom-button>
    <app-custom-button title="শাজারা" link="/about/shajara" [isSmall]="true"></app-custom-button>
</div>

<app-footer link="/"></app-footer>