<div class="grid grid-cols-1 gap-4 px-6 py-3">
    <app-heading-text Construction="বয়ান" link="/" color="green" ></app-heading-text>
    <app-custom-button title="কুরআনের তাফসীর" link="/audio/1" [isSmall]="true"></app-custom-button>
    <app-custom-button title="সংক্ষিপ্ত নসিয়ত" link="/audio/2" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইসলাহী মজলিশ" link="/audio/3" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইউটিউব অডিও" link="/audio/4" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইউটিউব ভিডিও" link="/video" [isSmall]="true"></app-custom-button>
</div>
