<div (click)="openVideo()" class="card bg-slate-100 shadow-xl cursor-pointer rounded-sm">
  <figure>
    <img
      [src]="img"
      class="w-full"
      [alt]="title"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-center">{{title}}</h2>
    <!-- <p>If a dog chews shoes whose shoes does he choose?</p> -->
  </div>
</div>

@if(showVideoPopup){
    <app-video-popup (closeVideo)="closeVideo()" [videoUrl]="'https://www.youtube.com/embed/' + videoId"></app-video-popup>
}

