<div
  class="w-full h-full min-h-[80vh] pb-5 bg-gradient-to-l from-green-500 to-green-700"
>
<app-heading-text Construction="দোয়ায়ে আনাস ইবনে মালেক (রাঃ)" link="/amol" ></app-heading-text>

  <div class="max-w-7xl mx-auto">
    <app-arabic-card
      index="1"
      [data]="arabic"
      [isPlay]="isPlay[1]"
      [selectedArabic]="selectedArabic"
      [selectedBangla]="selectedBangla"
      [selectedDescribe]="selectedDescribe"
      [isExpanded]="expandedIndex === 1"
      [isHidePlay]="true"
      (expand)="handleExpand(1)"
    ></app-arabic-card>

    <div class="flex justify-end max-w-7xl mx-auto">
      @if (selectedDescribe) {
      <div class="flex">
        <div class="my-2">
          <audio id="player" src="assets/audio/Dua_Abu_Darda.mp3" loop></audio>
          <div
            class="btn bg-gradient-to-l from-slate-700 to-gray-900 hover:from-gray-900 hover:to-slate-700 text-white border-0 h-10 w-32"
          >
            @if (isPlay) {
            <button
              class="flex flex-row justify-center items-center"
              (click)="togglePlay()"
            >
              <svg
                fill="#fff"
                height="28px"
                width="28px"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 512 512"
                xml:space="preserve"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <path
                        d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,465.455 c-115.493,0-209.455-93.961-209.455-209.455S140.507,46.545,256,46.545S465.455,140.507,465.455,256S371.493,465.455,256,465.455z "
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M318.061,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C341.333,150.056,330.913,139.636,318.061,139.636z"
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d="M193.939,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C217.212,150.056,206.792,139.636,193.939,139.636z"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
              <p class="ml-2 z-50">Pause</p>
            </button>
            } @else {
            <button
              class="flex flex-row justify-center items-center"
              (click)="togglePlay()"
            >
              <svg
                class="h-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 26 26"
              >
                <polygon
                  class="fill-blue-100"
                  points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69"
                />
                <path
                  class="fill-white"
                  d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z"
                />
              </svg>
              <p class="ml-2">Play</p>
            </button>
            }
          </div>
        </div>
        <div class="my-2 hidden">
          <a
            href="assets/audio/Dua_Abu_Darda.mp3"
            download="Dua_Abu_Darda.mp3"
            class="btn bg-gradient-to-l from-slate-700 to-gray-900 hover:from-gray-900 hover:to-slate-700 text-white border-0 h-10 flex flex-col justify-center items-center w-36"
          >
            <svg
              class="h-8 w-8"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 10C8 7.79086 9.79086 6 12 6C14.2091 6 16 7.79086 16 10V11H17C18.933 11 20.5 12.567 20.5 14.5C20.5 16.433 18.933 18 17 18H16.9C16.3477 18 15.9 18.4477 15.9 19C15.9 19.5523 16.3477 20 16.9 20H17C20.0376 20 22.5 17.5376 22.5 14.5C22.5 11.7793 20.5245 9.51997 17.9296 9.07824C17.4862 6.20213 15.0003 4 12 4C8.99974 4 6.51381 6.20213 6.07036 9.07824C3.47551 9.51997 1.5 11.7793 1.5 14.5C1.5 17.5376 3.96243 20 7 20H7.1C7.65228 20 8.1 19.5523 8.1 19C8.1 18.4477 7.65228 18 7.1 18H7C5.067 18 3.5 16.433 3.5 14.5C3.5 12.567 5.067 11 7 11H8V10ZM13 11C13 10.4477 12.5523 10 12 10C11.4477 10 11 10.4477 11 11V16.5858L9.70711 15.2929C9.31658 14.9024 8.68342 14.9024 8.29289 15.2929C7.90237 15.6834 7.90237 16.3166 8.29289 16.7071L11.2929 19.7071C11.6834 20.0976 12.3166 20.0976 12.7071 19.7071L15.7071 16.7071C16.0976 16.3166 16.0976 15.6834 15.7071 15.2929C15.3166 14.9024 14.6834 14.9024 14.2929 15.2929L13 16.5858V11Z"
                  fill="#fff"
                ></path>
              </g>
            </svg>
            <p>Download</p>
          </a>
        </div>
      </div>
      }
      <!-- feature Inputs -->
      <div class="px-2 hidden">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedArabic === true"
            (click)="toggleArabic()"
          />
          উচ্চারণ
        </label>
      </div>
      <div class="px-2 hidden">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedBangla === true"
            (click)="toggleBangla()"
          />
          অর্থ
        </label>
      </div>
      <div class="px-2 my-auto">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedDescribe === true"
            (click)="toggleDescribe()"
          />
          অডিও
        </label>
      </div>
    </div>

    <h1
      class="text-3xl md:text-4xl lg:text-7xl text-white text-center font-bold py-5"
    >
      আমলের দলিল
    </h1>
    <div
      class="bg-gradient-to-l from-slate-700 to-black my-2 text-white rounded-2xl"
    >
      <div class="text-xl mt-2 px-5">
        <p class="text-justify">
          হযরত তালক (রহ.) থেকে বর্ণিত আছে যে, এক ব্যক্তি হযরত আবু দারদা (রা.)
          এর নিকট এসে বলল, হে আবু দারদা, আগুন লেগে আপনার ঘর পুড়ে ভস্নীভূত হয়ে
          গেছে। তিনি নির্লিপ্তভাবে বললেন, পুড়ে নাই। কিছুক্ষণ পর অপর একজন এসে
          একই কথা বললেন ৷ তিনিও পূর্বের মত বললেন, পুড়ে নাই। কিছুক্ষণ পর অন্য
          একজন এসে একই কথা বলল। আর তিনিও পূর্বের ন্যায় বললেন, পুড়ে নাই। অত:পর
          এক ব্যক্তি এসে বললেন, হে আবু দারদা, আগুন লেগেছিল, কিন্তু আগুন আপনার ঘর
          পর্যন্ত এসে নিভে গিয়েছে। তখন তিনি বললেন, আমি জানতাম আল্লাহ তায়ালা
          কিছুতেই এরুপ করবেন না। (অর্থাৎ আমার ঘর পুড়ে যাবে এরুপ হবে না।)
        </p>
        <p class="py-1">
          হযরত তাল্ক (রহ.) বলেন, হে আবু দারদা । আমি বুঝতে পারছি না যে, আপনার কোন
          কথা বেশি আশ্চর্যজনক- এই কথা যে, "পুড়ে নাই” না এই কথা যে, আল্লাহ
          তায়ালা কিছুতেই এরুপ করবেন না।
        </p>
        <p class="py-1">
          জবাবে হযরত আবু দারদা (রা.) বললেন : আসল কথা হলো, আমি স্বয়ং আল্লাহর
          রাসুল সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম-এর পবিত্র মুখে শুনেছি, যে
          ব্যক্তি এ দোয়া'টি দিনের শুরুতে পাঠ করবে, সে সন্ধ্যা পর্যন্ত নিরাপদ
          থাকবে, কোনো বিপদই তাকে স্পর্শ করবে না। আর যে সন্ধ্যায় পাঠ করবে, সকাল
          পর্যন্ত তার উপর কোনো বিপদ আসবে না।
        </p>
        <p class="py-1">
          কোনো কোনো রেওয়াতে আছে, তার নিজের মধ্যে, তার পরিবার-পরিজনের মধ্যে এবং
          তার ধন-সম্পদের মধ্যে কোনো বিপদ আপদ বালা-মুসিবত দেখা দেবে না।
        </p>
        <p class="py-1">
          আমি আজ সকাল বেলায় এ দুয়া'টি পাঠ করেছি। এমতাবস্থায় আমার ঘর কেমন করে
          ভস্নীভূত হতে পারে?
        </p>
        <p class="font-normal text-lg">১. বায়হাকী শরীফ ।</p>
        <p class="font-normal text-lg">২. ইবনুস সুন্নী, হাদিস নং ৫৭ ।</p>
        <p class="font-normal text-lg">
          ৩. কিতাবুদ দুয়া, তাবারণী, হদিস নং-৩৪৩।
        </p>
        <p class="font-normal text-lg">
          ৪. হায়াতুস সাহাবা, খন্ড-৩, পৃষ্ঠা-৪০৯।
        </p>
        <p class="font-normal text-lg">
          ৫. উসয়ায়ে রাসূলে আকরাম সাল্লাল্লাহু আলাইহি ও সাল্লাম পৃষ্ঠা: ২১৭ ।
        </p>
        <p class="font-normal text-lg">
          ৬. কানযুল উম্মাল, ২/৭৫০, হাদীস নং : ৪৯৬০ ।
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer link="/amol"></app-footer>