@if (!isOnline) {
  <app-net-status></app-net-status>
} @else {
<section class="my-2">
  <div>
    <app-heading-text Construction="যাকাত ক্যালকুলেটর" link="/zakat-menu" color="green"></app-heading-text>
    <h1 class="text-center text-2xl lg:text-5xl text-primary mb-2">
      যাকাত ক্যালকুলেটর
    </h1>
    <p class="text-center text-blue-700 font-semibold">
      বাজুসের {{ forayez?.updateDate | bengaliDate }} তারিখের মূল্য অনুযায়ী
      হিসাব করা হয়েছে।
    </p>

    <div class="flex justify-center items-center font-bold my-2 text-2xl">
      <h1 class="text-gray-600 mr-1">ভরি/গ্রাম নির্বাচন করুনঃ</h1>
      <div class="form-control">
        <label class="label cursor-pointer gap-1">
          <input
            type="radio"
            name="unit"
            class="radio checked:bg-red-500"
            [(ngModel)]="asset"
            value="ভরি"
          />
          <span class="label-text lg:text-2xl text-red-500 text-2xl">ভরি</span>
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer gap-1">
          <input
            type="radio"
            name="unit"
            class="radio checked:bg-blue-500"
            [(ngModel)]="asset"
            value="গ্রাম"
          />
          <span class="label-text lg:text-2xl text-blue-500 text-2xl"
            >গ্রাম</span
          >
        </label>
      </div>
    </div>

    <div class="hero">
      <div class="hero-content flex-col lg:flex-row">
        <div class="card shrink-0 w-full max-w-lg shadow-2xl bg-green-200">
          <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
            জুয়েলারি স্বর্ণের বিক্রয়মূল্য
          </h1>
          <form class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black"
                  >ক্যারেট</span
                >
                <span class="label-text text-xl lg:text-2xl text-black">{{
                  asset
                }}</span>
                <span class="label-text text-xl lg:text-2xl text-black"
                  >বিক্রয়মূল্য
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                >
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >২২ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="gold_22"
                  [(ngModel)]="model.gold_22"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.gold_22 * forayez?.gold22k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.gold_22 * forayez?.gold22k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >২১ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="gold_21"
                  [(ngModel)]="model.gold_21"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.gold_21 * forayez?.gold21k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.gold_21 * forayez?.gold21k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >১৮ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="gold_18"
                  [(ngModel)]="model.gold_18"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.gold_18 * forayez?.gold18k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.gold_18 * forayez?.gold18k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >সনাতনী &nbsp;&nbsp;&nbsp;&nbsp;</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="gold_td"
                  [(ngModel)]="model.gold_td"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.gold_td * forayez?.goldTd * 0.8 * 11.664 | bangla
                  }}} @else {{{model.gold_td * forayez?.goldTd * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control mt-6 hidden">
              <button class="btn btn-primary">Calculate</button>
            </div>
            <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
              জুয়েলারি স্বর্ণের মূল্য @if(asset === "ভরি"){{{totalGold * 11.664 | bangla
              }}} @else {{{totalGold | bangla}}} টাকা
            </h1>
          </form>
        </div>
        <!-- card 2 -->
        <div
          class="card shrink-0 w-full max-w-lg shadow-2xl bg-green-200 text-black"
        >
          <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
            জুয়েলারি রূপার বিক্রয়মূল্য
          </h1>
          <form class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black"
                  >ক্যারেট</span
                >
                <span class="label-text text-xl lg:text-2xl text-black">{{
                  asset
                }}</span>
                <span class="label-text text-xl lg:text-2xl text-black"
                  >বিক্রয়মূল্য
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                >
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >২২ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="silver_22"
                  [(ngModel)]="model.silver_22"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.silver_22 * forayez?.silver22k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.silver_22 * forayez?.silver22k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >২১ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="silver_21"
                  [(ngModel)]="model.silver_21"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.silver_21 * forayez?.silver21k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.silver_21 * forayez?.silver21k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >১৮ ক্যারেট</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="silver_18"
                  [(ngModel)]="model.silver_18"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.silver_18 * forayez?.silver18k * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.silver_18 * forayez?.silver18k * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-xl lg:text-2xl text-black mr-2"
                  >সনাতনী &nbsp;&nbsp;&nbsp;&nbsp;</span
                >
                <input
                  type="number"
                  placeholder=""
                  class="input input-bordered max-w-[150px] bg-yellow-100 text-black border-black"
                  name="silver_td"
                  [(ngModel)]="model.silver_td"
                  (ngModelChange)="onInputChange($event)"
                />
                <span
                  class="label-text text-xl lg:text-2xl w-[120px] text-black ml-2"
                >
                  @if(asset === "ভরি"){{{model.silver_td * forayez?.silverTd * 0.8 * 11.664 | bangla
                  }}} @else
                  {{{model.silver_td * forayez?.silverTd * 0.8 | bangla}}}
                </span>
              </label>
            </div>
            <div class="form-control mt-6 hidden">
              <button class="btn btn-primary">Calculate</button>
            </div>
            <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
              জুয়েলারি রূপার মূল্য @if(asset === "ভরি"){{{totalSilver * 11.664 | bangla
              }}} @else {{{totalSilver | bangla}}} টাকা
            </h1>
          </form>
        </div>
      </div>
    </div>

    <div class="max-w-lg md:max-w-xl lg:max-w-5xl mx-auto">
      <!-- card 03 -->
      <div
        class="card shrink-0 w-full max-w-sm md:max-w-xl lg:max-w-5xl shadow-2xl bg-green-200 mx-auto text-black"
      >
        <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
          টাকা-পয়সা+ব্যবসায়িক সম্পদ
        </h1>

        <div class="overflow-x-auto">
          <table class="table table-lg">
            <tbody>
              <!-- row 1 -->
              <tr>
                <td class="text-center text-xl lg:text-2xl">
                  মোট ক্যাশ টাকাঃ
                </td>
                <td class="text-center text-xl lg:text-2xl">
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="totalCashTk"
                    [(ngModel)]="model.totalCashTk"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
              <!-- row 2 -->
              <tr>
                <td class="text-center text-xl lg:text-2xl">
                  মোট পাওনা টাকাঃ
                </td>
                <td class="text-center text-xl lg:text-2xl">
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="totalPawnaTk"
                    [(ngModel)]="model.totalPawnaTk"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
              <!-- row 3 -->
              <tr>
                <td class="text-center text-xl lg:text-2xl">
                  ব্যবসায়িক সম্পদঃ
                </td>
                <td class="text-center text-xl lg:text-2xl">
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="businessWealth"
                    [(ngModel)]="model.businessWealth"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- card 04 -->
      <div
        class="card shrink-0 w-full max-w-sm md:max-w-xl lg:max-w-5xl shadow-2xl text-black bg-green-200 mx-auto my-5"
      >
        <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
          ব্যাংক ও মোবাইল ব্যাংকিং
        </h1>

        <div class="overflow-x-auto">
          <table class="table table-lg">
            <tbody>
              <!-- row 1 -->
              <tr>
                <td class="text-center text-xl lg:text-2xl">
                  ব্যাংক অ্যাকাউন্টঃ
                </td>
                <td class="text-center text-xl lg:text-2xl">
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="bankAccount"
                    [(ngModel)]="model.bankAccount"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
              <!-- row 2 -->
              <tr>
                <td class="text-center text-xl lg:text-2xl">
                  মোবাইল ব্যাংকিংঃ
                </td>
                <td class="text-center text-xl lg:text-2xl">
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="mobileBanking"
                    [(ngModel)]="model.mobileBanking"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- card 05 -->
      <div
        class="card shrink-0 w-full max-w-sm md:max-w-xl lg:max-w-5xl shadow-2xl text-black bg-green-200 mx-auto my-5"
      >
        <h1 class="text-center text-xl lg:text-2xl text-primary pt-5">
          যাকাতের সম্পদ থেকে বিয়োগযোগ্য
        </h1>

        <div class="overflow-x-auto">
          <table class="table table-lg">
            <tbody>
              <!-- row 1 -->
              <tr class="border-b-0">
                <td class="text-center text-xl lg:text-2xl">ঋণ ও দায়ঃ</td>
                <td>
                  <input
                    type="number"
                    placeholder=""
                    class="input input-bordered w-full bg-yellow-100 border-black"
                    name="debt"
                    [(ngModel)]="model.debt"
                    (ngModelChange)="onInputChange($event)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="MakePdf">
      <div class="mx-auto py-5">
        <!-- card 06 -->
        <div
          class="card shrink-0 w-full max-w-sm md:max-w-xl lg:max-w-5xl shadow-2xl mx-auto text-black bg-green-200"
        >
          <h1 class="text-center text-xl lg:text-2xl pt-5">
            যাকাত হিসাবের তারিখ {{ today | bengaliNumber }}
          </h1>

          <div class="overflow-x-auto">
            <table class="table table-lg">
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    মোট জুয়েলারি মূল্যঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    @if(asset === "ভরি"){{{(totalGold + totalSilver) * 11.664 | bangla
                    }}} @else {{{totalGold + totalSilver | bangla}}}
                  </td>
                </tr>
                <!-- row 2 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    মোট ক্যাশ টাকাঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.totalCashTk * 1 | bangla }}
                  </td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    মোট পাওনা টাকাঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.totalPawnaTk * 1 | bangla }}
                  </td>
                </tr>
                <!-- row 4 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    মোট ব্যবসায়িক সম্পদঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.businessWealth * 1 | bangla }}
                  </td>
                </tr>
                <!-- row 5 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    ব্যাংক অ্যাকাউন্টে জমাঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.bankAccount * 1 | bangla }}
                  </td>
                </tr>
                <!-- row 6 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    মোবাইল ব্যাংকিং এ জমাঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.mobileBanking * 1 | bangla }}
                  </td>
                </tr>
                <!-- row 7 -->
                <tr>
                  <td class="text-center text-xl lg:text-2xl">
                    বিয়োগযোগ্য ঋণ ও দায়ঃ
                  </td>
                  <td class="text-center text-xl lg:text-2xl">
                    {{ model.debt * 1 | bangla }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- card 05 -->
        <div
          class="card shrink-0 w-full max-w-sm md:max-w-xl lg:max-w-5xl shadow-2xl mx-auto my-5 text-black bg-green-200"
        >
          <h1 class="text-center text-xl lg:text-2xl pt-5">
            যাকাতের হিসাবযোগ্য সম্পদের পরিমান = @if(asset === "ভরি"){{{((totalGold + totalSilver) * 11.664) + model.totalCashTk + model.totalPawnaTk + model.businessWealth + model.bankAccount + model.mobileBanking - model.debt | bangla
            }}} @else
            {{{(totalGold + totalSilver) + model.totalCashTk + model.totalPawnaTk + model.businessWealth + model.bankAccount + model.mobileBanking - model.debt | bangla
            }}} টাকা
          </h1>
          <h1 class="text-center text-xl lg:text-2xl py-5">
            মোট যাকাত = @if(asset === "ভরি"){{{(((totalGold + totalSilver) * 11.664) + model.totalCashTk + model.totalPawnaTk + model.businessWealth + model.bankAccount + model.mobileBanking - model.debt) / 40 | bangla
            }}} @else
            {{{((totalGold + totalSilver) + model.totalCashTk + model.totalPawnaTk + model.businessWealth + model.bankAccount + model.mobileBanking - model.debt) / 40 | bangla
            }}} টাকা
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center">
    <button class="btn btn-success btn-sm text-white" (click)="generatePDF()">
      Download PDF
    </button>
  </div>
</section>
}

<app-footer link="/zakat-menu"></app-footer>