<div
  [class.text-[#fff]]="sub1 == 'Dashboard'"
  [class.text-[#fff]]="sub1 == 'MIS'"
  [class.text-[#4a4747]]="sub1 != 'Dashboard'"
  [class.text-[#4a4747]]="sub1 != 'MIS'"
  class="text-center container mx-auto"
>
  <div>
    <p class="font-cinzel text-xs md:text-md lg:text-xl font-semibold mt-5">
      <span class="text-primary">{{ sub1 }}</span> / {{ sub2 }}
    </p>
    <h1
      class="mb-5 text-md md:text-2xl lg:text-4xl font-bold uppercase font-cinzel"
    >
      {{ title }}
    </h1>
  </div>
</div>